header {
  background-color: white;
}

body {
  font-size: 20px;
}

body div {
  font-size: 10px;
}

h1 {
  color: #40e040;
}

h2 {
  font-size: 30px;
  color: blueviolet;
}

.cdcdcbc {
  color: aquamarine;
}

.cccec {
  color: crimson;
}

.xqxqwxq {
  color: yellow;
}

.red {
  background-color: aquamarine;
}
