@import "_header";


body{
	font-size: 20px;
	div{
		font-size: 10px;
	}

}
h1 {
	color: rgb(64, 224, 64);
}

h2{
	font-size: 30px;	
	color: blueviolet;
}
.cdcdcbc {
	color: aquamarine;
}

.cccec {
	color: crimson;
}

.xqxqwxq {
	color: yellow;
}

.red{
	background-color: aquamarine;
}